p{
    color: red;
    font-style: italic;
    font-size: 20px;
}
h1{
    font-family: monospace;
    font-weight: bold;
    background-color: bisque;
}
body{
    background: linear-gradient(to bottom right,orange,white,lightblue);
    height: 1000px;
    text-align: center;
    
}
h2{
    background-color: crimson;
    color: greenyellow;
}